@use 'sass:color';
@use 'theme' as vars;

nav {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: block;
    margin-right: 3em;
    padding: 0.5em 0.5em 0.5em 0;
    min-width: 13em;
    border-right: 1px solid color.adjust(vars.$main, $alpha: -0.75);

    :global .btn {
      white-space: nowrap;
      margin-bottom: 0.25em;
    }
  }

  .product-item {
    width: 100%;
    display: flex;
  }
}
