<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Log In</title>
</head>
<body>
<form method="post" th:action="@{/api/users/login}">

    <div>
        <div th:if="${param.error}">
            Invalid email and/or password.
        </div>
        <div>
            <label for="username">Email</label>
            <div>
                <input id="username" name="username" required>
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input id="password" name="password" required type="password">
            </div>
        </div>
    </div>
    <div>
        <button type="submit">Log In</button>
        <div>
            <a href="/register">Register</a>
        </div>
    </div>
</form>
</body>
</html>
