<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Register</title>
</head>
<body>
<form method="post" th:action="@{register}" th:object="${user}">
    <div>
        <div>
            <label for="email">Email</label>
            <div>
                <input id="email" name="email" required type="email">
            </div>
            <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation
                error</p>
            <p th:text="${accountExists}">Email in use error</p>
        </div>
        <div>
            <label for="username">Username</label>
            <div>
                <input id="username" required th:field="*{username}">
            </div>
            <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation
                error</p>
        </div>
        <div>
            <label for="password">Password</label>
            <div >
                <input id="password" required th:field="*{password}" type="password">
            </div>
            <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation
                error</p>
        </div>
    </div>
    <div>
        <button type="submit">Register</button>
        <div>
            <a href="/login">Login</a>
        </div>
    </div>
</form>
</body>
</html>
