@use 'theme' as vars;

.basket-item-card {
  :global .card {
    transition: 150ms box-shadow;
    &:hover {
      box-shadow: vars.$shadow-raised;
    }

    /*display: flex;
    align-items: center;*/
  }
}

.coupon {
  :global .card {
    background: vars.$success;
  }
}
