@use 'theme' as vars;

.user-card {

  width: 100%;

  margin-bottom: 1em;
  cursor: pointer;

  :global .card {
    transition: 150ms box-shadow;
    &:hover {
      box-shadow: vars.$shadow-raised;
    }

    width: 100% !important;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
